<!DOCTYPE html>
<html>
  <head>
    <title>Backoffice Analyst Test</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
  </head>

  <body>
    <header class="header">
      <%= image_tag "logo.png", class: "logo", alt: "Cloudwalk" %>
      <p class="title">Backoffice Analyst Test</p>
    </header>

    <div class="banner">
      <%= image_tag "banner.png", class: "banner", alt: "Cloudwalk", style: "width: 100%; height: 600px;" %>
    </div>

    <div class="questions">
    <details>
        <summary>Money flow, information flow and main players</summary>
          <ul>
            <li>The acquirer market involves various players: merchants, acquirers, card associations, issuers, and payment processors.</li>
            <li>Payment flow starts with a customer making a payment using a payment card at a merchant.</li>
            <li>The payment information is sent to the acquirer, who forwards it to the card association.</li>
            <li>The card association verifies the transaction with the issuer to ensure sufficient funds.</li>
            <li>The authorization response is sent to the acquirer and merchant.</li>
            <li>The acquirer settles payment with the merchant, and the issuer settles payment with the acquirer.</li>
            <li>Real-time communication and data sharing is essential to ensure the security and reliability of payment processes.</li>
            <li>Regulations and compliance requirements are in place to protect consumer data and prevent fraud.</li>
          </ul>
      </details>

      <details>
        <summary>Acquirer, sub-acquirer and payment gateway</summary>
          <ul>
            <li>An acquirer is a financial institution that enables merchants to accept electronic payments through payment cards.</li>
            <li>A sub-acquirer is an entity that facilitates the payment process on behalf of an acquirer.</li>
            <li>A payment gateway is a technology platform that connects merchants to acquirers and payment networks to process electronic payments.</li>
            <li>The money flow in the acquirer market for sub-acquirers and payment gateways is similar to that of acquirers, with the difference being that they act as intermediaries between merchants and acquirers.</li>
            <li>The information flow is also similar, but sub-acquirers and payment gateways may have additional security and compliance requirements that they need to adhere to.</li>
          </ul>
      </details>

      <details>
        <summary>KYC (Know Your Customer)</summary>
          <ul>
            <li>KYC (Know Your Customer) is the process of verifying the identity of a customer to ensure that they are who they claim to be.</li>
            <li>It involves collecting and verifying personal information, such as name, address, date of birth, and government-issued ID.</li>
            <li>KYC is important to the company and the entire payment industry because it helps prevent fraud, money laundering, and other illegal activities.</li>
            <li>By verifying the identity of customers, companies can reduce their risk and comply with regulatory requirements.</li>
            <li>KYC is also essential for building trust with customers, as it demonstrates a commitment to protecting their data and preventing fraud.</li>
          </ul>
      </details>
    </div>

    <main>
      <div class="table-container">
          <form class="search-form" action="/" method="get">
            <label for="cnpj">Search CNPJ:</label>
            <input type="text" id="cnpj" name="cnpj">
            <button type="submit">Search</button>
          </form>

          <table class="table">
            <thead>
              <tr>
                <th>CNPJ</th>
                <th>Date of Purchase</th>
                <th>Approval Time</th>
              </tr>
            </thead>
            <tbody>
              <% @results.each do |row| %>
                <tr>
                  <td><%= row["cnpj"] %></td>
                  <td><%= row["date_of_purchase"].strftime("%d/%m/%Y %H:%M:%S") %></td>
                  <td><%= "#{row["approval_time_hours"].to_i} hours #{row["approval_time_minutes"].to_i} minutes" %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <%= paginate @results %>
      </div>

      <div class="metric-cards-container">
        <div class="metric-card">
          <h2>Average Approval Time</h2>
          <h4><span class="time"><%= @avg_time %></span></h4>
          <p>The average time it took to approve a customer.</p>
        </div>

        <div class="metric-card">
          <h2>Maximum Approval Time</h2>
          <h4><span class="time"><%= @max_time %></span></h4>
          <p>The maximum time it took to approve a customer.</p>
        </div>

        <div class="metric-card">
          <h2>Minimum Approval Time</h2>
          <h4><span class="time"><%= @min_time %></span></h4>
          <p>The minimum time it took to approve a customer.</p>
        </div>
      </div>

    </main>
  </body>
</html>
